//main: ../style.less

.intro__inner {
  display: flex;
  //в less fade используется для осветления цвета 30% - процент яркости
  border-bottom: 1px solid fade(@gray, 30%);
}

.intro__content {
  margin-top: 100px;
  margin-bottom: 108px;
  width: 50%;
}

.intro__subtitle {
  font-size: 2.13rem;
  color: @black;
  font-weight: 200;
}

.intro__title {
  font-size: 3rem;
  color: @black;
  font-weight: bold;
  margin-bottom: 5px;
}

.intro__text{
  font-size: 1.2rem;
  color: @gray;
}

.intro__photo {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

